/* Header */

header
{
    text-align: center;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 1200px;
    margin-top: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 320px;
    box-shadow: 2px 2px 4px rgb(15, 68, 212);
    box-shadow: 0 10px 0 rgb(12, 99, 197) inset;
}

/* Section */

section
{
    display: flex;
}

div
{
    border-radius: 10px;
    background-color: whitesmoke;
    width: 800px;
    margin-top: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 520px;
    box-shadow: 2px 2px 4px rgb(15, 68, 212);
    
}

/* Footer */

img
{
    border: 1 px solid black;
    border-radius: 300px;
}

#Logo:hover
{
    box-shadow: 2px 2px 20px blue;
}

footer
{
    text-align: center;
    background-color: rgb(26, 24, 24);
    margin-top: 20px;
    padding: 10px;

}


footer p, #S
{
    color: rgb(233, 222, 222);
}

/* Autre */

body
{
    background-color: rgb(149, 195, 255);
    margin: 0 0 0 0;
}

label
{
    font-size: 18px;
}

p
{
    font-size: 18px;
}

*
{
    font-family: 'Arial Narrow Bold', sans-serif;
}